# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# vercel
.vercel

# Endpoint 
/yt_stream_endpoint/endpoint/model/chart_images
/yt_stream_endpoint/endpoint/model/image_processor
/yt_stream_endpoint/endpoint/model/model
/yt_stream_endpoint/endpoint/model/output_images_coco_format
/yt_stream_endpoint/endpoint/model/random_images
