/* userconfiguration.module.css */
.container {
  min-height: 100vh;
  margin: 1rem;
  background-color: #ffffff;
  width: 75%;
}

.title {
  font-size: 1.5em;
  color: #333;
  margin: 20px 0 10px 0;
  text-align: left;
}

.description {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
  text-align: left;
}

.inputContainer, .keywordsInputContainer {
  margin: 8px 0;
  gap: 10px;
}

.creatorItem {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 8px 12px;
}

.divider {
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

.switch {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleLabel {
  font-size: 20px;
  color: #333;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.toggleContainer {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.keyword {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  margin: 15px 8px;
  background-color: #007bff;
  border-radius: 20px;
  color: white;
}

.keyword button, .creatorItem button {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.keyword button:hover, .creatorItem button:hover {
  opacity: 1;
}

.input, .keywordsInput, .searchInput {
  border: 2px solid #007bff;
  padding: 12px;
}

.saveButton {
  background-color: #1cd347;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.searchContainer {
  padding-top: 10px;
}

.searchInput {
  flex: 1;
  margin-right: 10px;
  width: 50%;
  flex-grow: 1;
  margin: 15px 0;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchAndButtonsContainer {
  position: relative;
}

.recommendationsContainer {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 1000;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.recommendationItem {
  padding: 10px;
  cursor: pointer;
}

.recommendationItem:hover {
  background-color: #e9ecef;
}

.creatorsList {
  width: 100%;
}

.creatorItem {
  display: grid;
  grid-template-columns: 1fr 3fr 40px;
  align-items: center;
  gap: 16px;
  padding: 8px 0;
}

.creatorLink {
  color: #001eff;
  text-decoration: none;
}

.creatorName {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.creatorName, .creatorLink, .deleteButton {
  text-align: left;
}

.creatorLink:hover {
  text-decoration: underline;
}

.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #f44336;
  color: white;
}

.deleteButton:hover {
  background-color: #c82333;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 0.9em;
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  z-index: 1000;
}

.successMessage {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #1cd347;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  text-align: center;
  font-size: 1rem;
}
 
